 .dialog {
     max-width: 100px;
     width: 90%;
     height: min-content;
     display: flex;
     align-items: center;
     padding: 10px;
  }
  
.item {
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }

.active {
    font-weight: 600;
    color: rgb(100, 10, 136);
    margin-left: 10px;
}

.avatar {
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #4a0980;
}

.avatar img {
   width: 120%;
   
}
    